<tr>
  <th scope="row"><%= person.id %></th>
  <td><%= person.document.tipo_documento %></td>
  <td><%= link_to person.Identificacion %></td>
  <td><%= person.Primer_nombre %></td>
  <td><%= person.Segundo_nombre %></td>
  <td><%= person.Primer_apellido %></td>
  <td><%= person.Segundo_apellido %></td>
  <td><%= person.role.tipo_role %></td>
</tr>